// All the values are mandatory

// Nutanix credentials
nutanix_username = "admin"
nutanix_password = "*****"

// Packer credentials
build_username   = "packer"
build_password   = "*****"

// Microsoft AD credentials
ad_username = "administrator"
ad_password = "*****"

// Microsoft Windows Server 2022 KMS key
win2022_kms_key_datacenter = "AAAAA-BBBBB-CCCCC-DDDDD-EEEEE"

// Microsoft Windows 10 KMS key
win10_kms_key_enterprise = "AAAAA-BBBBB-CCCCC-DDDDD-EEEEE"

// Citrix Cloud API client
citrix_cloud_customer_id = "<citrix_cloud_customer_id>"
citrix_cloud_client_id = "<citrix_cloud_client_id>"
citrix_cloud_client_secret = "<citrix_cloud_client_secret>"
citrix_cloud_resource_location_id = "<citrix_cloud_resource_location_id>"