// Nutanix Validated Design Resources Prefix
ref_prefix = ""

// Prism Central credentials
nutanix_username = "admin"
nutanix_password = "********"
nutanix_endpoint = "prismcentral.nutanix.local"
nutanix_insecure = false

// ISO details
nutanix_virtio_iso = {
    name = "Nutanix_VirtIO-1.1.7"
    description = "Nutanix VirtIO for Windows (iso) ( Version: 1.1.7 )"
    source_uri = "https://download.nutanix.com/virtIO/1.1.7/Nutanix-VirtIO-1.1.7.iso"
}

nutanix_server_os_iso = {
    name = "Windows_Server_2022"
    description = "Microsoft Windows Server 2022"
    source_uri = "<ISO_URL_HERE>"
}

nutanix_desktop_os_iso = {
    name = "Windows_10"
    description = "Microsoft Windows 10"
    source_uri = "<ISO_URL_HERE>"
}